* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5f5f5f;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
h3{
    color: #000;
    font-weight: normal;
}
h2{
    color: #000;
    font-weight: normal;
}
.container {
    display: flex;
    min-height: 100%;
}

.sidebar {
    background-color: #f6f8fa;
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.profile{
    margin-top: 40px;
    flex: 3;
    margin-left: 40px;
}
.profile img{
    border-radius: 200px;
    height: 150px;
}
.subtxt{
    font-size: 20px;
    font-style: italic;
}
.subtxt2{
    font-size: 11px;
    margin-bottom: 0px;
    margin-top: 3px;
}
.subtxt2 span{
    color : #000;
}
.bottomContentSection a{
    text-decoration: underline;
    color: #6a74de;
}

nav{
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 20px;
}
.navcard{
    display: flex;
    flex: 1;
    padding-left: 20px;
    margin-right: 50px;    
    border-radius: 20px;
    transition: background-color 0.5s ease; 
}
.navcard:hover{
    background-color: #e9eff5;
}
.navcard img{
    height: 30px;
    width: 30px;
    align-self: center;
    margin-right: 20px;
    filter: invert(48%) sepia(13%) saturate(2%) hue-rotate(130deg) brightness(95%) contrast(80%);
}
.navcard p{
    font-weight: bold;
}

.bottom-buttons{
    flex: 1;
    margin-left: 40px;
    display: flex;
}
.bottom-buttons div{
    display: flex;
    align-items: center;
}
.bottom-buttons a{
    display: flex;
    align-items: center;
}
.bottom-buttons button{
    background-color: #f6f8fa;
    border: 0;
    border-radius: 200px;
    transition: background-color 0s ease;
}
.bottom-buttons img{
    height: 25px;
    width: 25px;
    filter: invert(48%) sepia(13%) saturate(2%) hue-rotate(130deg) brightness(95%) contrast(80%); 
    transition: filter 0s ease; 
}
.bottom-buttons button:hover{
    background-color: #e9eff5;
}
.bottom-buttons button:hover img{
    filter: none; 
}

.vertical-seperator{
    border-left: 1px solid #777777;
    height: 50px;
    align-self: center;
    padding-left: 30px;
}

.main-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.topbar p{
    font-size: 17px;
}

.content{
    flex: 3;
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding-left: 20px;
    margin-right: 80px;
    box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
    transition: background-color 1s ease;
}
.card:hover{
    background-color: #dfdfdf;
}
.details{
    display: flex;
    align-items: center;
}
.details p{
    margin-right: 30px;
}
.details img{
    height: 20px;
    width: 20px;
    filter: invert(48%) sepia(13%) saturate(2%) hue-rotate(130deg) brightness(95%) contrast(80%); 
    margin-right: 10px;
}

.footertxt{
    font-size: 10px;
}

.bottombar{
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-left: 30px;
    border-top: 1px solid #e2e2e2;
}

.topContentSection{
    margin-bottom: 30px;
}

.mainImage{
    max-height: 50%;
    max-width: 50%;
}

